{% extends 'base/base.html' %}
{% block title %}@{{ user.username }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col md-4"></div>
    <div class="col md-4">
      <div class="jumbotron bg-dark brd">
        <div class="row">
          <div class="col md-10 spc-down">
            <h1 class="task-title text-warning text-center">
              <a href="{% url 'home' %}" class="text-nanum text-1">TodoBud<i class="fa fa-clipboard-check"></i></a>
            </h1>
          </div>
        </div>
        <a href="{% url 'home' %}">
          <button class="btn btn-sm btn-block b btn-outline-warning"><i class="fa fa-long-arrow-alt-left"></i></button>
        </a>
        <br>
        <h1 class="text-light text-1 text-center text-quicksand">
          {{ user.first_name }} {{ user.last_name }}
        </h1><br>
        <img src="{{ request.user.profile.dp.url }}" class="dp" style="margin-left: 2.3rem;">
      </div>
    </div>
    <div class="col md-4"></div>
  </div>
</div>
{% endblock %}
