{% extends 'base/base.html' %}
{% block title %}home{% endblock %}
{% block content %}
<div class="container spc-down">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <div class="card bg-warning">
        <div class="card-header shadow-sm bg-dark text-center">
          <h1 class="display-5 task-title text-warning"><a href="/">TodoBud&checkmark;</a></h1>
        </div>
        <div class="card-body">
          <div class="">
            <ul class="list-group">
              <li class="list-group-item bg-dark text-light">
                <form action="{% url 'insert' %}" autocomplete="off" class="frm" method="post">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="text" class="form-control task-title bg-light clr-dark" name="content"
                           placeholder="Do sth...">
                    <button type="submit" class="btn btn-warning bg-warning">
                      <i class="text-dark">&plus;</i>
                    </button>
                  </div>
                </form>
              </li>
              {% for task in tasks %}
              <li class="list-group-item bg-light text-dark">
                <span class="todo-bullet">&oast; <span class="text-dark task-content">{{ task.content }}</span></span>
                <form action="{% url 'delete' task.id %}" method="post" class="float-right d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-dark bg-dark">
                    <i class="text-light float-right">&checkmark;</i>
                  </button>
                </form>
              </li>
              {% empty %}
              <li class="list-group-item bg-danger text-light text-center">
                <span class="font-bold">NO TASKS?</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
