/* CUSTOM PROPERTIES */
:root{
  --clr-danger: #8B0000;
  --clr-darkdanger: #8c0000a6;
  --clr-dark: #303030;
  --clr-lightdanger: #b90606;
  --clr-light: #f5eeeed4;
  --clr-totaldarkness: #000000;

  --ff-primary: Comic Neue, Lato Light;
}

/* GENERAL STYLES */
html{
  font-family: var(--ff-primary);
}

h1 a{
  color: #ffc107;
  text-decoration: none;
}

h1 a:hover,
h1 a:focus{
  transform: scale(1.2);
  color: #f5eeeed4;
  text-decoration: none;
}

/* CUSTOM CLASSES */
.spc-down{
  margin-bottom: 1rem;
}

.todo-bullet{
  font-size: 1.4em;
  color: #ff0018;
}

.task-title,
.task-content{
  font-family: var(--ff-primary);
}

.task-content{
  font-size: 1em;
}
