{% extends 'base/base.html' %}{% load static %}
{% block title %}Password Reset{% endblock %}
{% block xtralinks %}
<link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">{% endblock %}
{% block content %}
<div class="mt-4">
  <form action="" method="post" class="form-signin brd space-down">{% csrf_token %}
    <div class="text-center mb-4">
      <h1 class="text-1 task-title text-warning own"><a href="{% url 'home' %}" class="text-nanum l">TodoBud<i
       class="fa fa-clipboard-check"></i></a></h1>
      <h1 class="font-weight-normal text-center text-quicksand text-2 clr-light spc-down spcRU-left">
        Password Reset
      </h1>
      <hr>
      <p class="lead text-center text-4 text-neue clr-light">
        Forgotten your password? Enter your email address below and we'll email instructions for setting a new one!
      </p>
      <hr>
    </div>
    <div class="spc-down">
      <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required
             id="id_email"
             placeholder="Email Address">
    </div>
    <button class="text-center btn btn-block btn-outline-warning" type="submit">Reset my Password</button>
    <div class="row space-up">
      <div class="col 4 text-center">
        <a href="{% url 'login' %}" class="text-link text-nanum text-4">
          Take me back
        </a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
