{% extends 'base/base.html' %}{% load static %}
{% block title %}Password Reset Success{% endblock %}
{% block xtralinks %}
<link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">{% endblock %}
{% block content %}
<div class="mt-4">
  <div class="form-signin brd space-down">
    <div class="text-center mb-4">
      <h1 class="text-1 task-title text-warning own"><a href="{% url 'home' %}" class="text-nanum l">TodoBud<i
       class="fa fa-clipboard-check"></i></a></h1>
      <h1 class="font-weight-normal text-center text-quicksand text-2 clr-light spc-down spcRU-left">
        Password Reset Complete!
      </h1>
      <i class="text-light text-1 fa fa-grin-wink"></i>
      <hr>
      <p class="lead text-center text-4 text-neue clr-light">
        Your password has been reset successfully. You may go ahead and log in now.
      </p>
      <hr>
    </div>
    <a href="{% url 'login' %}"><button class="text-center btn btn-block btn-outline-warning">Login</button></a>
  </div>
</div>
{% endblock %}
