{% extends 'base/base.html' %}{% load static %}
{% block title %}Settings{% endblock %}
{% block xtralinks %}
<link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">{% endblock %}
{% block content %}
<div class="mt-4">
  <form action="{% url 'settings' username=user.username %}" method="post" enctype="multipart/form-data"
        class="form-signin brd space-down">
    {% csrf_token %}
    <div class="text-center mb-4">
      <h1 class="text-1 task-title text-warning own"><a href="{% url 'home' %}" class="text-nanum l">TodoBud<i
       class="fa fa-clipboard-check"></i></a></h1>
      <h1 class="font-weight-normal text-center text-quicksand text-2 clr-light spc-down spcRU-left">
        Account Settings <br>
        <i class="text-warning text-1 fa fa-user-edit"></i>
      </h1>
      <hr>
      <label class="text-light text-4 text-neue font-weight-bold" for="dp">Display Picture</label>
      <div class="col md-12 text-center">
        <div class="text-center spcR-down">
          <input type="file" class="form-control" name="dp" accept="image/*" id="id_dp">
        </div>
      </div>
      <button class="btn btn-sm btn-block b btn-outline-warning" type="submit"><i class="fa fa-thumbs-up fa-1x"></i>
      </button>
      <hr>
    </div>
    <div class="row">
      <div class="col md-12 text-center">
        <i class="text-warning fa fa-long-arrow-alt-left fa-6x"></i>
      </div>
    </div>
  </form>
</div>
{% endblock %}
