<!DOCTYPE html>
<html lang="en">{% load static %}
<head>
  <!-- metadata -->
  <meta charset="UTF-8">
  <meta name="author" content="Elvis Kemboi">
  <meta name="keywords" content="Elvis, Kemboi, iamelviskemboi, todo, TodoBud, list, todo list">
  <meta name="description" content="This is a handy todo-list app for your browser. You better have it pinned!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- title -->
  <title>ToDoBud | {% block title %}{% endblock %}</title>
  <!-- links -->
  <link rel="stylesheet" href="{% static 'bud/css/styles.css' %}">
</head>
<body>
{% block content %}
{% endblock %}
</body>
<!-- scripts -->
<script type="text/javascript" src="{% static 'bud/js/main.js' %}"></script>
</html>
