{% extends 'base/base.html' %}{% load static %}
{% block title %}New Password{% endblock %}
{% block xtralinks %}
<link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">{% endblock %}
{% block content %}
<div class="mt-4">
  <form action="" method="post" class="form-signin brd space-down">{% csrf_token %}
    <div class="text-center mb-4">
      <h1 class="text-1 task-title text-warning own"><a href="{% url 'home' %}" class="text-nanum l">TodoBud<i
       class="fa fa-clipboard-check"></i></a></h1>
      <h1 class="font-weight-normal text-center text-quicksand text-2 clr-light spc-down spcRU-left">
        Enter New Password
      </h1>
      {% if form.errors %}
      <div class="bg-danger text-light alert">
        <button class="close" type="button" data-dismiss="alert">
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
        {{ form.errors }}
      </div>
      {% endif %}
      <hr>
      <p class="lead text-center text-4 text-neue clr-light">
        Please enter your new password twice so we can verify you typed it correctly.
      </p>
      <hr>
    </div>
    <div class="spcR-down">
    <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required
           id="id_new_password1" placeholder="New Password">
    </div>
    <div class="spc-down">
    <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required
           id="id_new_password2" placeholder="Confirm New Password">
    </div>
    <button class="text-center btn btn-block btn-outline-warning" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
