{% extends 'base/base.html' %}{% load static %}
{% block title %}Feedback Sent{% endblock %}
{% block xtralinks %}
<link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">{% endblock %}
{% block content %}
<div class="mt-4">
  <div class="form-signin brd">
    <div class="text-center mb-4">
      <h1 class="text-1 task-title text-warning own"><a href="{% url 'home' %}" class="text-nanum l">TodoBud<i
       class="fa fa-clipboard-check"></i></a></h1>
      <h1 class="font-weight-normal text-center text-neue text-2 clr-light spc-down spcRU-left">
        Feedback Sent!
      </h1>
      <h3 class="text-neue text-warning text-3 spc-up spc-down brd-2" style="margin:0 auto;">
        We have received your feedback, thanks for taking time to share your
        thoughts with us {{ user.first_name }}.
      </h3>
      <div class="spc-up">
        <p class="lead text-center text-4 text-neue clr-light">
          (We Value Your Feedback)
          <i class="fa fa-smile fa-1x text-warning"></i>
        </p>
      </div>
    </div>
    <div class="row spc-up">
      <div class="col md-12 text-center">
        <a href="{% url 'home' %}">
          <i class="fa fa-home text-warning fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
